body{
	background-color: #152652;
    background-image: url("/static/images/login_01.jpg");
    background-repeat: repeat-x;
    margin: 0;
}	
.outter{
	border : 1px solid gray;
	overflow : auto;
	background-color: #fff;
}

.height_600{
	height: auto !important;
	min-height : 600px;
	height:600px;
}

.height_500{
	height: auto !important;
	min-height : 500px;
	height:500px;
}

.height_400{
	height: auto !important;
	min-height : 400px;
	height:400px;
}
/*--------------------jerry.yu----------------------*/
/*- Form --------------------------- */
.baseform{
			
}
.baseform .label{
	margin-left:20px;
	width : 150px;
	float : left;
	background-color :#FFC;
	color : #369;
	font-weight : blod;
	padding : 3px;
}
.baseform .field{
	width : 300px;
	margin-left : 20px;
	
}

.footer_p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#FFF;
	margin:5px 0px 5px 0px;
}
.clinic_div{
	background-color:#FFC;
}
.input_left_title{
	text-align:right;
	padding:10px 20px 10px 0px;
	background-color:#069;
	font-size:12px;
	font-family:"Arial Black", Gadget, sans-serif;
	color:#fff;
}
/*--------------------jerry.yu----------------------*/

/*- Menu Tabs--------------------------- */
#tabs {
	height:50px;
  float:left;
  width:100%;
  background:#1074b0;
  font-size:14px;
  line-height:normal;
}


#tabs ul {
    margin:0;
    padding:10px 10px 0 10px;
    list-style:none;
}

#tabs li {
  display:inline;
  margin:0;
  padding:0;
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  font-weight:bold;
  }
#tabs a {
  float:left;
  background:url("/static/images/tableft.gif") no-repeat left top;
  margin:0;
  padding:0 0 0 4px;
  text-decoration:none;
  }
#tabs a span {
  float:left;
  display:block;
  background:url("/static/images/tabright.gif") no-repeat right top;
  padding:5px 15px 4px 6px;
  color:#666;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabs a span {float:none;}
/* End IE5-Mac hack */
#tabs a:hover span {
  color:#FF9834;
}
#tabs a:hover {
  background-position:0% -42px;
}
#tabs a:hover span {
  background-position:100% -42px;
}

#tabs #current a {
        background-position:0% -42px;
}
#tabs #current a span {
        background-position:100% -42px;
}



/*- calendar --------------------------- */
.cal_header{
		width:90px;
	height:90px;
	float:left;
	margin:0px;
	padding:0px;
	background-color:yellow;
	border-bottom:1px solid #369;
	border-right:1px solid #369;
	border-top:1px solid #369;
}
.cal_box{
	width:90px;
	height:90px;
	float:left;
	margin:0px;
	padding:0px;
	border-bottom:1px solid #369;
	border-right:1px solid #369;
}
.cal_disable{
	background-color:red;
}
.cal_enable{
	background-color:#adff2f;
}
.cal_booked{
	background-color:#b0c4de;
}
.cal_not_this_month{
	background-color:#ddd;
}
.cal_box_selected{
	background-color:#7e9ec7;
}
.cal_box_booked{
	background-color:brown;
}


