<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> 
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	{% block keyword %}
		<meta content="" name="Keywords" /> 
	{% endblock %}
	
	<title>{% block title %}Easy Booking{% endblock %}</title>
	
	<link href="{{url_for('.static', filename='css/screen.css')}}" rel="stylesheet" type="text/css" />
	{% block extCSS %}{% endblock %}
	
		
	<script src="{{url_for('.static', filename='js/jquery-1.6.min.js')}}" type="text/javascript"></script>
	
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<script language="JavaScript" type="text/javascript">
		    //<![CDATA[
		    	var msg = [];
				{% for message in messages %}
					msg.push('{{ message }}');
				{% endfor %}
				if(msg.length>0){ alert(msg.join("\n"); }
		    //]]>
		   </script>
		{% endif %}    
    {% endwith %}     
	
	
	{% block extJS %}{% endblock %}
</head>

<body>
	{% block header %}<div id="header"><p style="text-align:right">Welcome, | <a href="/logout_handler">Logout</a></p></div>{% endblock %}
	
	{% block menu %}
		<div id="menu">
			<ul>
				<li><a href="/list_clinic">Go Booking</a></li>
				<li><a href="/my_booking">My Booking</a></li>
				<li><a href="/my_message">My Message</a></li>
			</ul>
		</div>
	{% endblock %}
	
	{% block content %}
		<div id="body"><!-- Main Content Here --></div>
	{% endblock %}
	
	{% block footer %}
		<div id="footer"><p style="text-align:right">Powered by E-solutions</p></div>
	{% endblock %}
</body>
</html>