{% extends "master.html" %}

{%set profile = doctor.getUserProfile() %}

{% block extCSS %}

{% endblock %}
{% block extJS %}
<script src="{{url_for('.static', filename='js/jquery.raty.js')}}" type="text/javascript"></script>
<script language="JavaScript" type="text/javascript">
//<![CDATA[

	$(document).ready(function(){
		$(".cal_enable").hover(
			function (){
    			$(this).addClass("cal_box_selected");
			},
			function(){
				$(this).removeClass("cal_box_selected");
			}
		);
		
		
		$('#star').raty({
		  path : "/static/images/jquery_rate/",
		  readOnly:  true,
		  number : {{doctor.qty}},
		  starOn : 'yz2.jpg',
		  starOff : 'yz1.jpg',
		  width : 450
		});
		
		var current_div = null;
		$(".cal_enable").click(function(){
			current_div = $(this);
			$.fn.raty.start(parseInt($("input[name='booked']",current_div).val()),"#star");

			$("#notice").text("There are "+ $("input[name='booked']",current_div).val()  +" people book this doctor on this day." );
			
			$("#dialog-form").dialog({
				width : 500,
				//height : 350,
			    modal : true,
				close: function(event, ui){ $("#remark").val("") },
				buttons:{
					Save : function(){
						var div = current_div;
						var date = $("input[name='date']",div).val();
						$.getJSON("/save_events",
							{
								"did" : {{doctor.id}},
								"uid" : {{session['user_profile']['id']}},
								"d"   : date,
								"remark" : $("#remark").val()
							},
							function(r){
								$("#dialog-form").dialog( "close" );
								if(r.success){
									div.addClass("cal_booked");
									div.removeClass("cal_enable");
									div.unbind("click");
									div.unbind("mouseover");
									$.pnotify({
									    //pnotify_title: "Booking successfully!",
									    pnotify_text: '<div class="success"><p>Your request has submit successfully!</p></div>',
									    pnotify_nonblock: true,
									    pnotify_mouse_reset: false
									
									});
								}else{
									$.pnotify({
									    //pnotify_title: "Booking successfully!",
									    pnotify_text: '<div class="error"><p>The service is not avaiable now ,please try it later !</p></div>',
									    pnotify_nonblock: true,
									    pnotify_mouse_reset: false
									
									});
								}
						});
					},
					Cancel: function() {
						$(this).dialog( "close" );
					}
				}
			});
		});

	});
//]]>
</script>
{% endblock %}

{% block content %}
		<div class="quarter first vpad_10">
			{% if not profile.image_url%}
				<img src="/static/images/no_images.jpg"/>
			{% else %}
				<img src="{{profile.getImage().url}}"/>
			{% endif %}
			<h2>{{profile}}</h2>
			<p>{{doctor.desc}}</p>
		</div>
		
		
		<div class="threequarter last vpad_10">
			<h2 class="text_center">{{current.strftime('%Y.%m')}}</h2>
			<div style="overflow: auto; width: 650px;">
				{% for h in ['SUN','MON','TUE','WED','THU','FRI','SAT'] %}
					<div class="cal_header text_center "><b>{{h}}</b></div>
				{% endfor %}
				
				{% for d in schedule %}
					{% set div_id = "div_%s" %d['date'].strftime("%Y%m%d") %}
					
					{% if not d['this_month'] %}
						<div class="cal_box cal_not_this_month" id="{{div_id}}">{{d['date'].day}}</div>
					{% else %}
						{% if not d['avaiable'] %}
							<div class="cal_box cal_disable" id="{{div_id}}">{{d['date'].day}}</div>
						{% elif d['is_booked'] %}
							<div class="cal_box cal_booked" id="{{div_id}}">{{d['date'].day}}</div>
						{% else%}
							<div class="cal_box cal_enable" id="{{div_id}}">
								{{d['date'].day}}
								<input type="hidden" name="date" value="{{d['date'].strftime('%Y%m%d')}}"/>
								<input type="hidden" name="booked" value="{{d['events']|length}}"/>
							</div>
						{% endif %}
					{% endif %}
				{% endfor %}
			</div>
			<div class="clear"><br /></div>
			<div class="pagescontainer">
				<a href="/schedule?id={{doctor.id}}&y={{pre.year}}&m={{pre.month}}">Previously Month</a>&nbsp;|&nbsp;<a href="/schedule?id={{doctor.id}}&y={{next.year}}&m={{next.month}}">Next Month</a>
			</div>
		</div>
		
		<div id="dialog-form" title="Create New Booking" style="display:none">
			<p id="notice"></p>
			<p id="star"></p>
			<p><label>Remark</label><br /><textarea name="remark" id="remark" style="width:300px;height:70px;"></textarea></p>
		</div>
{% endblock %}